/*!!==============================================================
	Project Name: LightCSS Reset
	Description : A simple & adaptable CSS Reset for SCSS users.
	Version     : 1.0.0
	Author      : Sivan
	Author URI  : http://lightcss.com/project/reset/
	============================================================== */

/*
 * 1. Choose a basic reset.
 *
 * I recommend you to use _normalize.css,
 * for Legacy browser support, use _normalize-legacy.css instead.
 * Or you can still use Eric Meyer's CSS Reset
 */

@import "libs/_normalize.css";

/* @import "libs/_normalize-legacy.css"; */
/* @import "libs/_basic.css"; */

/*
 * 2. Common reset, no need to change anything.
 */

@import "libs/_common.css";

/*
 * 3. Modify your own default style.
 */

@import "libs/_custom.css";

/*
 * 4. Use common style Include CSS Reset for WordPress
 */

/* @import "libs/_wordpress.css"; */

/*
* 5.Now just import this file to your project!(See style.css)
*/