/*!!==============================================================
	Project Name: LightCSS Reset
	Description : CSS Reset for theme authors.
	Version     : 0.5
	Author      : Sivan
	Author URI  : http://lightcss.com/project/reset/
	============================================================== */

/* 1. Import normalize.scss */
@import "libs/_normalize.css";

	/* For Legacy browser support, use _normalize-legacy.scss instead */
	/*
	 * @import "libs/_normalize-legacy.scss";
	 */

	/* Or you can still use Eric Meyer's CSS Reset(Not recommended) */
	/*
	 * @import "libs/_basic.scss";
	 */

	/* 2. Common reset, don't need to change anything */
@import "libs/_common.css";

	/* 3. Modify your own default style */
@import "libs/_custom.css";

/* 4. Use common style Include CSS Reset for WordPress */
/* 
 * @import "libs/_wordpress.scss";
 */

/* Now just import this file to your project! */
/* 
 * @import "_reset.scss";
 */