/*!!==============================================================
	Project Name: LightCSS Reset
	Description : This is a CSS Reset for theme authors.
	Version     : 0.4
	Author      : Sivan
	Author URI  : http://lightcss.com/project/reset/
	============================================================== */

/* 1. Use normalize.scss */
@import "libs/_normalize.css";

	/* Or use Eric Meyer's CSS Reset instead of normalize.css */
	/*
	 * @import "libs/_basic.css";
	 */

	/* 2. Common reset, don't need to change anything */
@import "libs/_common.css";

	/* 3. Modify your own default style */
@import "libs/_custom.css";

/* *4. Include CSS Reset for WordPress */
/* 
 * @import "libs/_wordpress.css";
 */

/* Now just include this file in your project! */
/* 
 * @import "reset.css";
 */