.noboder, .noboder img { border: 0; }
.alignleft { float: left; text-align: left; margin-right: 5px; }
.alignright { float: right; text-align: right; margin-left: 5px; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.floatleft { float: left; }
.floatright { float: right; }
.left { float: left; margin-right: 10px; }
.right { float: right; margin-left: 10px; }