/*!!==============================================================
	Project Name: My project name
	Description : Just an example project.
	Version     : 1.0
	Author      : Sivan
	Author URI  : http://lightcss.com/
	============================================================== */
/* import main file */
@import "_reset.css";

/*
 * Your style here.
 */
