/*!==============================================================
	Project Name: My project name
	Description : My project description.
	Version     : 1.0
	Author      : Sivan
	Author URI  : http://lightcss.com/project/reset/
	============================================================== */
/* import main file */
@import "reset.scss";

/*
 * Your style here.
 */
