/* =============================================================================
	Project Name: LightCSS Reset
	Description : This is a CSS reset for WordPress theme authors.
	Version     : 0.1
	Author      : Sivan
	Author URI  : http://lightcss.com/work/reset/
	License     : GPL
	License URI : http://www.gnu.org/licenses/gpl-2.0.html
   ========================================================================== */
@import "reset-basic.scss";
@import "reset-common.scss";
@import "reset-custom.scss";