/**
 * Global Configuration
 */

// Choose a base reset: 'normalize'(recommended) | 'legacy' | 'reset'
// For Legacy browser support(IE6) use 'legacy' or you can still use Eric Meyer's CSS Reset by us.
$base_reset: "normalize" !default;


/*
 * 2. Modify your code style
 */
// Recommend `.group` instead of `.clearfix` because `class="clearfix"` looks like a lot of bugs here :(
$clearfix_class: "group" !default;
$hidden_class: "hidden";
/*
 * 3. Modify your project style
 */
$base_font_size: 1em;
