/*
 * Define components for your code style
 */

// Set your favourite classname of helper classes
$component-classnames: (
	hide: "hidden",
	invisible: "invisible",
	accessibility: "visuallyhidden",
	clearfix: "group",
	image-replacement: "ir",
) !default;

// Add Common base styles, no need to change anything.
@import "components/_common";

/*
 * Define root styles for your project
 */

html {
	font-size: 1em;
	line-height: 1.5;
	color: #000;
	background: #fff;
}

:link,
:visited {
	text-decoration: none;
	color: #666;
}
a:hover,
a:active {
	text-decoration: underline;
}

/*
 * Remove text-shadow in selection highlight
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}
::selection {
	text-shadow: none;
	background: #b3d4fc;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	padding: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #ccc;
}
