/*!==============================================================
 * Project Name: LightCSS Reset
 * Version: 1.1.0
 * Homepage: https://github.com/sivan/lightcss-reset
   ============================================================== */


/**
 * 1. Choose a base reset: 'normalize'(recommended) | 'legacy' | 'reset'
 *
 * For Legacy browser support(IE6) use 'legacy' or you can still use Eric Meyer's CSS Reset by us.
 */
$base_reset: 'normalize';
/*
 * 2. Modify your code style
 */
// Recommend `.group` instead of `.clearfix` because `class="clearfix"` looks like a lot of bugs here :(
$clearfix_class: 'group';
$hidden_class: 'hidden';
/*
 * 3. Modify your project style
 */
$base_font_size: 1em;


@import "_modules/setup";
/*
 * 2+. Use common style modules like wordpress module `wordpress.scss`
 */
// @import "_modules/wordpress.scss";

/*
 * 5. Now just import this file to your project!(See styles.scss)
 */
